/* style generali */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

i{
    color: white;
}

p{
    font-family:'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 25px;
}
span{
    font-size: 20px;
}

a{
    text-decoration: none;
    font-family:'PT Sans', sans-serif;
    color: white;
}
.card-icon{
    text-align: center;
    font-size: 100px;
}
ul{
    list-style: none;
}
li{
    float: left;
    margin-left: 30px;
}


/* header */
.container-header{
    background-color: rgba(0,132,253,255);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.row-header{
    width: calc(100%/2);
    display: flex;
}
#menù{
    float: left;
    display: none;
}
.menù-bottom{
    background-color: white;
    border-radius: 20px;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    margin-top: -5px;
}
.menù-bottom a{
    color: black;
}

#bars{
   text-align: right;
   font-size: 30px;
   margin-right: -200px;
}
#img-header{
    width: 30%;
}
/* main */
.container{
    padding: 20px;
}
.container-viola{
    background-color: rgba(151,146,228,255);
    padding: 20px;
}

/* section card */
.card{
    background-color: rgba(181,221,255,255);
    border-radius: 20px;
    margin: 30px 0px 30px 0px;
    padding: 20px;
    
}
.card p{
    text-align: center;
}
.card-title{
    font-family:'PT Sans', sans-serif;
    font-size: 20px;
    color: rgba(0,132,253,255);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.card-bottom{
    background-color: rgba(0,132,253,255);
    border-radius: 20px;
    max-width: 50%;
    padding: 5px;
    text-align: center;
    margin: 40px 100px 40px 100px;
}
#card-img{
    margin-bottom: -25px;
}

.card i{
    color:rgba(0,132,253,255);
}
#logoapple{
    color: white;
}
/* section planning */
.planning{
    margin: 30px;
    padding: 40px; 
}

.planning p{
    color: white;
    text-align: left;
    line-height: 25px;
    margin-top: 40px;
}
.planning-card{
    background-color: white;
    border-radius: 20px;
    margin: 30px;
    padding: 40px; 
}
.planning .planning-title{
    font-family:'PT Sans', sans-serif;
    font-size: 30px;
    color:white;
    text-align: left;
    margin: 40px 0px 40px 0px;
    font-weight: bold;
}

.planning-card .planning-title{
    font-family:'PT Sans', sans-serif;
    font-size: 25px;
    color:black;
    text-align: center;
    margin: 40px 0px 40px 0px;
    font-weight: bold;
}

.planning-card p{
    font-style: italic;
    margin: 40px 0px 40px 0px;
    text-align: center;
}
.planning-bottom{
    background-color: rgba(151,146,228,255);
    border-radius: 100px;
    max-width: 30%;
    padding: 5px;
    text-align: center;
    margin: 40px 100px 40px 100px;
}

.planning-bottom i{
    color: black;
    font-size: 30px;
}

/* section testimonials */
#testimonials{
    font-family:'PT Sans', sans-serif;
    font-size: 15px;
    margin: 100px 0px 40px 0px;
    font-weight:lighter;
}
.testimonial-title{
    font-family:'PT Sans', sans-serif;
    font-size: 40px;
    color:rgba(151,146,228,255);
    text-align: center;
    margin: 40px 0px 40px 0px;
    font-weight: bold;
}
.testimonial-card{
    background-color: rgba(151,146,228,255);
    border-radius: 20px;
    margin: 30px;
    padding: 40px;
    max-width: 100%;
}

.testimonial-card p{
    color: white;
}
.testimonial-img{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.testimonial-img img{
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.testimonial-name{
    font-family:'PT Sans', sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}
#testimonal-container{
    text-align: center;
}
/* section benefit */
.Benefit-title{
    font-family:'PT Sans', sans-serif;
    font-size: 40px;
    color:white;
    text-align: center;
    margin: 40px 0px 40px 0px;
    font-weight: bold;
}

.benefit-card{
    background-color:white;
    border-radius: 20px;
    margin: 30px 0px 30px 0px;
    padding: 20px;
}

.card-number{
    font-family:'PT Sans', sans-serif;
    font-size: 40px;
    color: rgba(151,146,228,255);
    text-align:left;
    margin-bottom: 20px;
    font-weight: bold;
}
.benefitcard-title{
    font-family:'PT Sans', sans-serif;
    font-size: 20px;
    color: rgba(151,146,228,255);
    text-align:left;
    margin-bottom: 20px;
    font-weight: bold;
}
.benefit-card p{
    text-align: left;
}
.benefit-bottom{
    background-color: rgba(151,146,228,255);
    border-radius: 20px;
    max-width: 50%;
    padding: 5px;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

/* section aboutus */
#aboutus-container{
    text-align: left;
}
.aboutus-title{
    font-family:'PT Sans', sans-serif;
    font-size: 40px;
    color:rgba(151,146,228,255);
    text-align:left;
    margin: 40px 0px 40px 0px;
    font-weight: bold;
}
#aboutus-container p{
    margin: 40px 0px 40px 0px;
}
.aboutus-card{
    background-color:white;
    border-radius: 20px;
    padding: 30px;
}
.aboutuscard-title{
    font-family:'PT Sans', sans-serif;
    font-size: 30px;
    color: rgba(151,146,228,255);
    text-align:left;
    margin-bottom: 20px;
    font-weight: bold;
}
.aboutus-bottom{
    background-color: rgba(151,146,228,255);
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    max-width: 60%;
    text-align: center;
    margin: 40px 0px 40px 0px;
}
#aboutus-img{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
#aboutus-img img{
    width: 100%;
    height: auto;
}
.aboutus-card span{
    color:rgba(151,146,228,255) ;
    font-size: 150px;
    position: absolute;
    right: 0;
    top:0;
}
/* section get started */
#getstarted{
    font-family:'PT Sans', sans-serif;
    font-size: 15px;
    margin: 40px 0px 20px 0px;
    font-weight:lighter;
    color: white;
    text-align: center;
}
#getstarted-title{
    font-family:'PT Sans', sans-serif;
    font-size: 30px;
    color:white;
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
}
#getstarted-yellow{
    font-family:'PT Sans', sans-serif;
    font-size: 80px;
    color:rgba(253,193,95,255);
    text-align: center;
    margin: 0px 0px 40px 0px;
    font-weight: bold;
}
#getstarted-container p{
    color: white;
    text-align: center;
}
.getstarted-bottom{
    background-color: white;
    border-radius: 20px;
    max-width: 50%;
    padding: 5px;
    text-align: center;
    margin: 40px 100px 0px 100px;  
}
.getstarted-bottom a{
    color:rgba(151,146,228,255);
}
#getstarted-container span{
   text-decoration: underline;
   font-size: 12px;
}

/* footer */
#footer-container{
    background-color: rgba(51,51,51,255);
}

#footer-container p{
    color: white;
    text-align: center;
    margin-top: 40px;
}

.sottoliea{
    color: rgba(151,146,228,255);
    text-decoration: underline;
}

#footer-container span{
    font-size: 12px;
}

/* visual 768px (tablet) */
@media all and (min-width:768px){

    .container , .container-viola{
        max-width: 100%;
    }
    #menù{
        display: none;
    }
    #bars{
        margin-right: -300px;
    }

    #containercard{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #containerbenefit{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #aboutus-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: calc(100%/3);
        flex-grow: 1;
        margin: 10px;
        max-width: 30%;

    }
    #cardprima{
        max-width: 62%;
    }
    .card-bottom {
        margin-left:100px ;
        margin-right: 100px;
    }
    .planning-bottom{
        margin-left:200px ;
    }
    .testimonial-img{
        float: left;
        margin-top: -20px;
        margin-left: -20px;

    }
    .benefit-card{
        width: calc(100%/3);
        max-width: 100%;
        flex-grow: 1;
        margin: 15px;
    }
    .aboutus-card{
        width: calc(100%/3);
        max-width: 100%;
        flex-grow: 1;
        margin: 5px;
    }
    .aboutus-bottom{
       max-width: 80%;
    }
    .getstarted-bottom{
        margin-left: 300px;
        max-width: 150px;
    }  
    }


/*  visual  1200px dekstop */
@media all and (min-width:1200px){

    #img-header{
        width: 10%;
    }
    #bars{
        display: none;
    }
    #menù{
        display: grid;
    }
    #cardprima{
        display: flex;
        min-width: 62%;
        padding: 30px;
    }
    #card-img{
        margin-bottom: -30px;
    }
    #containerplanning{
        display: flex;
    }
    .planning-bottom{
        margin-left: 150px ;
    }
    .testimonial-img{
        margin-top: -10px;
        margin-left: -10px;
        width: 120px;
        height: 120px;
    }
    .Benefit-title{
        margin-right: 300px;
        margin-left: 300px;
    }
    .benefit-card{
        width: calc(100%/4);
    }
    .getstarted-bottom{
        margin-left: 500px;
        max-width: 150px;
    }

}